html, body {
  width: 100%;
  font-family: arial, helvetica, sans-serif;
}

a, a:active, a:focus, a:visited {
  color: #959595;
  text-decoration: underline;
}

a:hover {
  color: white;
  text-decoration: none;
  transition: color .15s ease-in-out;
}

.Container {
  background-color: black;
}

.Container .Inner {
  width: 100%;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Small screen / phone */
@media (min-width: 576px) {
  .Container .Inner { max-width: 540px; }
}
/* Medium screen / tablet */
@media (min-width: 768px) {
  .Container .Inner { max-width: 720px; }
}
/* Large screen / desktop */
@media (min-width: 992px) {
  .Container .Inner { max-width: 980px; }
}
/* Extra large screen / wide desktop */
@media (min-width: 1200px) {
  .Container .Inner { max-width: 1160px; }
}
