.ContactsContainer {
  background: linear-gradient(to bottom, transparent 70%, #000 96%),
    #141517 center no-repeat url('/fixthelobbies/images/background_contacts.jpg');
  background-size: cover;
}

.ContactsContainer h3 {
  margin-top: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-bottom: 0;
}

.ContactsContainer p {
  text-align: center;
  font-size: 1.5rem;
  color: #dcdcdc;
}

.ContactsContainer .Cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 1rem 0;
}

/* Small screen / phone */
@media (min-width: 576px) {
  .ContactsContainer h3 {
    font-size: 3rem;
  }
  .ContactsContainer .Cards {
    margin: 2rem 0;
  }
}
/* Medium screen / tablet */
@media (min-width: 768px) {
  .ContactsContainer h3 {
    font-size: 3.5rem;
  }
  .ContactsContainer .Cards {
    margin: 4rem 0;
  }
}
/* Large screen / desktop */
@media (min-width: 992px) {
  .ContactsContainer h3 {
    font-size: 4rem;
  }
  .ContactsContainer .Cards {
    margin: 6rem 0;
  }
}
/* Extra large screen / wide desktop */
@media (min-width: 1200px) {
  .ContactsContainer h3 {
    font-size: 4.5rem;
  }
  .ContactsContainer .Cards {
    margin: 8rem 0;
  }
}

.Card {
  max-width: 100vw;
  overflow: hidden;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background: rgba(218, 206, 255, 0.37);
  display: inline-block;
}

.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  background: rgba(218, 206, 255, 0.44);
}

.Card a {
  display: block;
  text-decoration: none;
  padding: 5px;
}

.Card img {
  border-radius: 5px 5px 0;
  width: 326px;
  height: 187px;
}

.Card h4 {
  margin: 8px 0;
  text-align: center;
  font-size: 16px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
